<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Mobile</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Add Mobiles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="listview.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="adminview.html">Edit Mobiles</a>
                </li>
            </ul>
        </div>
    </nav><br>
    <div class="container text-center border border-secondary rounded p-4">
        <h2>Add Mobile Details</h2><br>
        <form id="mobileDetailForm" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label text-left">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="specs" class="col-sm-2 col-form-label text-left">Specifications</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="specs" name="specs" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label text-left">Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" name="price" step="0.01">
                </div>
            </div>
            <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label text-left">Upload the image</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                </div>
            </div><hr>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form> 
    </div>
    <script src="js/createscript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</body>
</html>
