<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .myimage {
            height: 300px;
            width: 100%; 
            object-fit: cover; 
            border-radius: 10px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
            transition: 0.3s; 
            border-radius: 15px; 
            margin-bottom: 20px; 
        }
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
        }
        .card-body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mobiles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="listview.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="adminNavItem" href="createform.html">Add Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="adminNavItem1" href="adminview.html">Edit Mobiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="loginButon" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logoutButton" href="#">Logout</a>
                </li>
               
              
            </ul>
            <form class="form-inline my-2 my-lg-0" id="searchForm">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="searchInput" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-4">Mobiles</h1>
        <h1 class="text-center" id="header2"></h1>
        <div class="card-container">
            <div class="row" id="mobileList"></div>
        </div>
    </div>
    <script src="js/listviewscript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
