<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Mobile Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .preview-image {
        max-width: 200px; 
        max-height: 200px; 
        margin-top: 10px; 
        border: 1px solid #ccc; 

}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mobiles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="listview.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="createform.html">Add Mobile</a>
                </li>
            </ul>
        </div>
    </nav><br>
    <div class="container text-center border border-secondary rounded p-4">
        <h2>Update Mobile Details</h2><br>
        <form id="mobileDetailForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <img src="" id="imagePreview" class="img-fluid rounded preview-image">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="name" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="specs" name="specs"  placeholder="specification" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="price" placeholder="price" name="price" step="0.01">
                    </div>
                    <div class="form-group">
                        <p class="text-left">Upload the new image</p><input type="file" class="form-control-file" id="image" name="image" accept="image/*" >
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </div>
        </form> 
    </div>
    <script src="js/updatescript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
     
    </script>
</body>
</html>
